.collapse,.navbar-header{
    background-color: #ffce47;
}
marquee{
    color: cornsilk;
    background-color:grey;
}
.tde{
    border: 2px solid black;
    border-collapse: collapse;
    width:360px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px

}
iframe{
    height: 720px;
}

table{
    margin-left:%;
}

#imgR{
    width:320px;
    height:240px;
}
.imgE{
    width: 240px;
    height:240px;
}
.imgD{
  height: 240px;  
}
.bg-primary{
     border-radius: 50px;
     padding-left: 10px;
}



